<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebasetest">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        //screen that app starts on
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".login" /> -->
        <activity android:name=".base_registration" />
        <activity android:name=".choosing_user_type" />
        <activity android:name=".clientreg_car_details" />
        <activity android:name=".clientreg_pay_type" />
        <activity android:name=".clientreg_pay_method" />
        <activity android:name=".clientreg_card_info" />
        <activity android:name=".clientreg_bank_info" />
        <activity android:name=".clientreg_end" />
        <activity android:name=".proreg_agreement" />
        <activity android:name=".proreg_cert_details" />
        <activity android:name=".client_dashmap" />
        <activity android:name=".proreg_cert_overview" />
        <activity android:name=".proreg_end" />
        <activity android:name=".proreg_pro_details" />
        <activity android:name=".pro_dashmap" />
        <activity android:name=".pro_request_list"></activity>
    </application>

</manifest>