<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebasetest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".login" /> -->
        <activity android:name=".base_registration" />
        <activity android:name=".choosing_user_type" />
        <activity android:name=".clientreg_car_details" />
        <activity android:name=".clientreg_pay_type" />
        <activity android:name=".clientreg_pay_method" />
        <activity android:name=".clientreg_card_info" />
        <activity android:name=".clientreg_bank_info" />
        <activity android:name=".clientreg_end" />
        <activity android:name=".proreg_agreement" />
        <activity android:name=".proreg_details"></activity>
        <activity android:name=".mapgoesherelol" />

    </application>

</manifest>